# Node.js dependencies
node_modules/

# Logs
*.log

# npm debug file
npm-debug.log*

# Yarn log file
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local
