.main-background-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .black-blur-overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(4px);/*to ensure compatibility with iOS*/
    backdrop-filter: blur(4px);
  }
  
  .page-not-found-content {
    text-align: center;
    z-index: 10;
  }
  
  .page-not-found-heading {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .page-not-found-paragraph {
    color: #ddd;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .back-to-home {
    font-size: 18px;
    text-decoration: none;
    background-color: #2ECC71;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
  }
  