.header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
}

.section-1 {
    background-image: url("./assets/Page11.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    position:relative;
    flex-direction: column;
}

/*pseudo element */
.section-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 1; 
}

.image-foreground-text {
    color: white;
    position: absolute;
    left: 40px;
    top: 205px;
    display: flex;
    flex-direction: row;
}

.app-name {
    font-family:'DM Sans', sans-serif;
    font-size: 60px;
    font-weight:bold;
    border-right: 5px solid white;
    padding-right: 10px;
}

.quote {
    font-family:'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-left: 10px;
}

.overlay-1 {
    bottom: 0px;
    left: 0;
    height: 40px;
    width: 100%;
    background: linear-gradient(180deg, #141414 20%, rgba(20, 20, 20, 0.8) 40%, rgba(20, 20, 20, 0.6) 60%, rgba(20, 20, 20, 0.6) 84.25%, rgba(20, 20, 20, 0.2) 95%, rgba(20, 20, 20, 0) 100%);
    transform: rotate(180deg);
    position: absolute;
  }

  
.overlay-2{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 40px;
    width: 100%;
    background: linear-gradient(180deg, #141414 20%, rgba(20, 20, 20, 0.8) 40%, rgba(20, 20, 20, 0.6) 60%, rgba(20, 20, 20, 0.6) 84.25%, rgba(20, 20, 20, 0.2) 95%, rgba(20, 20, 20, 0) 100%);
}

.section-2 {
    background-image: url("./assets/Page12.jpg");
    background-size: cover;
    background-position: center;
    padding: 40px;
    position: relative;
}

.section-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

.card-row-1 {
    display: flex;
    justify-content: left; 
    margin-bottom: 20px;
}

.card-row-2 {
    display: flex;
    justify-content: right; 
    margin-bottom: 20px;
}

.card-row-3 {
    display: flex;
    justify-content: left;
    margin-bottom: 20px; 
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    width: 575px;
    height: 350px;
}

.card-image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-heading {
    font-family:'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    justify-self: flex-start;
}

.card-description {
    font-family:'DM Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 20px;
    max-width: 280px;
}

.card-button {
    width: 120px;
    min-width: 100px;
    height: 42px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #7C7C7C;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 0;
    align-self: flex-end;
    margin-bottom:10px;
}

